@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3145;
}

/*===== Variable Define =====*/
:root {
    --primary-color: #000;
    --secondary-color: #9f5ba4;
    --third-color: #f3f3f3;
    --four-color: #848484;
    --text-color: #fff;
    --black-light-color: #2f2f2f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 100%;
    font-weight: 400;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/*=== Header CSS ===*/
.header{
    background-color:var(--text-color);
    z-index:100;
    padding:0.625rem;
    box-shadow: 0px 0.125rem 0.625rem rgba(0,0,0,0.05);
}
.header .navbar-nav a.nav-link{
    position:relative;
    padding:0.8rem 1.2rem;
    color:var(--primary-color);
    -webkit-transition:font-weight 0.3s ease-in-out;
    -moz-transition:font-weight 0.3s ease-in-out;
    -ms-transition:font-weight 0.3s ease-in-out;
    -o-transition:font-weight 0.3s ease-in-out;
    transition:font-weight 0.3s ease-in-out;
}
.header .navbar-nav a.nav-link.active{
    font-weight: 600;
    transition:font-weight 0.3s ease-in-out;
}
.header .navbar-nav a.nav-link::after{
    content:'';
    display:block;
    width:0%;
    height:0.1rem;
    box-sizing: border-box;
    background-color:var(--secondary-color);
    transition:width .3s;
    position:absolute;
    left:50%;
    transform:translate(-50%, -50%);
    bottom:0;
}
.header .navbar-nav a.nav-link:hover::after,
.header .navbar-nav a.nav-link.active::after{
    width:40%;
    transition:width .3s;
}
.header .navbar-toggler{
    padding:.25rem 0rem;
}
.search_bar{
    padding:0.8rem 1.2rem;
}
.search_bar a{
    color:var(--primary-color);
}
.search-overlay{
    opacity:0;
    visibility:hidden;
    position:fixed;
    width:100%;
    height:100vh;
    text-align: center;
    top:0;
    left:0;
    z-index: 999;
    background-color:rgba(0,0,0,1);
    -webkit-transition:all ease-in-out .5s;
    -ms-transition:all ease-in-out .5s;
    -moz-transition:all ease-in-out .5s;
    -o-transition:all ease-in-out .5s;
    transition:all ease-in-out .5s;
}
.search-overlay.open{
    opacity:1;
    visibility:visible;
}
.fullscreen-searchform{
    width:60%;
    margin:0 auto;
    text-align:center;
    position:relative;
    opacity:1;
    top:50%;
    transform:translateY(-50px);
    -webkit-transition:all ease-in-out .6s;
    -ms-transition:all ease-in-out .6s;
    -moz-transition:all ease-in-out .6s;
    -o-transition:all ease-in-out .6s;
    transition:all ease-in-out .6s;
}
.search-overlay.open .fullscreen-searchform{
    opacity:1;
    transform:translateY(0);
}
.search-overlay .search-box{
    width:100%;
    background: transparent;
    outline:0;
    font-size:1.8rem;
    padding:1.2rem 1.5rem;
    color:var(--text-color);
    border-style:solid;
    border-width: 0 0 0.1rem;
    border-color:var(--text-color);
}
.fullscreen-search-icon{
    color:var(--text-color);
    font-size:1.6rem;
    position:absolute;
    right:1.3rem;
    top:1.8rem;
}
.close{
    position:fixed;
    top:2.5rem;
    right:4rem;
    color:var(--text-color);
    z-index: 3;
    cursor: pointer;
    opacity:1;
}
.close span,
.close span:before,
.close span:after{
    border-radius: 0.2rem;
    height:0.2rem;
    width:2rem;
    background:var(--text-color);
    position:absolute;
    display:block;
    content:'';
}
.close span{
    background:transparent;
}
.close span:before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close span:after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*=== Banner SEction ===*/

.bg-hero{
    background-image:url('./../images/Slider01.jpg');
    background-position: center right;
    min-height: 580px;
    background-size:cover;
    background-repeat: no-repeat;
    clip-path:polygon(68% 0, 100% 0, 100% 97%, 3% 100%, 0 100%, 0 0);
    transition: all 4s ease-in-out;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
}


.banner_content h4{
    font-family: 'Dancing Script', cursive;
    padding-top:8rem;
    font-weight: 700;
    font-size:2.5rem;
    color:var(--secondary-color);
}
.banner_content h2{
    font-size:4rem;
    font-weight:600;
    padding:0.8rem 0;
    width:80%;
}
.main-btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    overflow: hidden;
}
.main-btn{
    padding:1rem 2rem;
    font-size:1.2rem;
    background-color: var(--secondary-color);
    color:var(--text-color);
    font-weight: 400;
    letter-spacing: 0.1rem;
    border:none;
    cursor:pointer;
    border-radius: 0.5rem;
    clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);
    transition: clip-path 0.5s;
}
.main-btn:hover{
    clip-path:polygon(40% 15%, 77% 15%, 100% 10%, 100% 90%, 75% 85%, 40% 85%, 30% 100%, 0% 50%, 0 50%, 30% 0%);
} 

/*=== Service CSS ==*/
.services{
    padding-top:6rem;
}
.section-head span{
    display:inline-block;
    text-decoration: none;
    color:inherit;
}
.section-head{
    margin-bottom:4rem;
}
.section-head h4{
    position:relative;
    padding:0;
    color:var(--secondary-color);
    line-height: 1;
    letter-spacing:0.019;
    font-size: 2.125rem;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom:1.875rem;
}
.section-head h4::before{
    content:'';
    width:3.75rem;
    height:0.188rem;
    background:var(--secondary-color);
    position:absolute;
    bottom:-0.625rem;
    left:0;
    right:0;
    margin:0 auto;
}
.section-head h4 span{
    font-weight: 700;
    padding-bottom: 0.313rem;
    color:var(--black-light-color);
}
.section-head p{
    color:var(--black-light-color);
    font-size:1rem;
    line-height: 1.75rem;
    text-align:center;
}
.service-item{
    background: var(--text-color);
    text-align: center;
    padding:0.875rem 0.563rem;
    box-shadow: 0 0 1.563rem rgba(0,0,0,0.07);
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    margin-bottom:1.875rem;
    border:5px solid rgba(0,0,0,0.07);
    transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
}
.service-item:hover{
    background-color: var(--secondary-color);
    box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.2);
    transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
}
.service-box figure{
    position:relative;
    width:11.25rem;
    height:11.25rem;
    margin:0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
}
.service-box:hover figure{
    box-shadow: -0.172rem 1.671rem 2.688rem 0rem rgba(42,57,63,0.10);
}
.service-box figure figcaption{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:var(--text-color);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    padding:0 15px;
    z-index: 2;
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
}
.service-box:hover figure figcaption{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.service-box figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3145; 
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.service-box:hover figure:after{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    opacity:.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility:visible;
}
.service-box figure figcaption .boxed-btn{
    padding:0.700rem 1.50rem;
    color:var(--text-color);
    background-color:var(--secondary-color);
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.service-box figure figcaption .boxed-btn:hover{
    background-color:var(--text-color);
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    color:var(--secondary-color);
}
.service-item:hover h5,
.service-item:hover p,
.service-item:hover h6{
    color:var(--text-color);
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
}
.service-item p{
    font-size: 0.80rem;
}
.service-item h5{
    color:var(--black-light-color);
    line-height: 1.625rem;
}
.service-item .service-price{
    font-size:1.20rem;
    font-weight: 700;
}

/*== Our Features ==*/
.features{
    background-image:url('./../images/skin\ care.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color:var(--primary-color);
    margin-top:6rem;
    clip-path:polygon(68% 0, 100% 0, 100% 97%, 38% 100%, 0 100%, 0 3%);
}
.features .section-head h4{
    color:var(--primary-color);
}
.features .section-head h2,
.features h4{
    color:var(--primary-color);
}
.feature-icon{
    width:5.313rem;
    height:5.313rem;
    line-height: 5.313rem;
    text-align: center;
    background:rgba(255,255,255,0.1);
    border:1px solid #675d56;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition:.3s all;
    -webkit-transition:.3s all;
    -moz-transition:.3s all;
    -ms-transition:.3s all;
    -o-transition:.3s all;
    margin:0 auto;
    margin-bottom:1.25rem;
    position:relative;
}
.feature-box:hover .feature-icon{
    transform:scale(0.93);
    -webkit-transform:scale(0.93);
    -moz-transform:scale(0.93);
    -ms-transform:scale(0.93);
    -o-transform:scale(0.93);
    color:var(--text-color);
    background-color: var(--secondary-color);
}
.feature-box h4{
    font-size:1.20rem;
    margin-bottom:1rem;
}
.feature-box p{
    font-size:0.900rem;
    margin-bottom:1rem;
}

/*=== Price CSS ===*/
.card-pricing{
    padding:3rem 0 2rem;
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}
.card-pricing h3{
    color:var(--secondary-color);
}
.card-pricing.popular{
    z-index:1;
    border:2px solid var(--secondary-color);
}
.card-pricing .list-unstyled li{
    padding:.5rem 0;
    color:#6c757d;
}
.card-pricing .card-body button{
    border:1px solid var(--secondary-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding:0.50rem 1.70rem;
    color:var(--secondary-color);
}
.card-pricing .card-body button:hover{
    background-color:var(--secondary-color);
    color:var(--text-color);
}
.card-pricing:hover{
    transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    -o-transform:translateY(-20px);
    box-shadow: -3.758px 26.737px 43px 0px rgba(42,57,63,15%);
}

/*=== FAQ CSS ===*/
.review {
    background-color: rgba(236,236,236,1);
    margin-top:6rem;
    padding:3rem;
    clip-path:polygon(68% 0, 100% 0, 100% 97%, 38% 100%, 0 100%, 0 3%);
}
.review  .section-head{
    margin-bottom:2rem;
}
summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

/*== revie CSS ==*/


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    margin-top:20px;
}
.text-muted {
    color: #8898aa!important;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
ul.list-style-none li {
    list-style: none;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #707cd2;
    transition: width .6s ease;
}
.progress {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    -o-shadow: inset 0 1px 2px rgba(0,0,0,.05);
}

.progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: .65625rem;
    background-color: rgba(120,130,140,.13);
    border-radius: 0;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.1);
}
.display-5 {
    font-size: 50px !important;
    font-weight: bold;
    line-height: 1.2;
}

/*== Footer CSS ==*/
.footer{
    padding-top:3rem;
    background-color: var(--primary-color);
    clip-path: polygon(68% 0, 100% 0, 100% 97%, 100% 100%, 0 100%, 0 3%);
}
.footer_box{
    padding:5rem 0;
}
.footer .footer-menu ul li a,
.footer p,
.footer ul li{
    color:var(--text-color);
    list-style: none;
}
.footer-menu ul li a{
    font-size: 0.9rem;
    line-height:2rem;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}
.footer-menu ul li a:hover{
    color:var(--secondary-color) !important;
}
.footer-widget-title{
    line-height: 30px;
    margin-bottom:10px;
    font-size:18px;
    font-weight: 600;
    color:var(--text-color);
}
.mini-footer{
    text-align: center;
    padding:32px 0;
    border-top:0.0650rem solid var(--secondary-color);
}
.mini-footer p{
    margin:0;
    line-height: 1.6rem;
    font-size: 0.850rem;
    color:var(--text-color);
}
.mini-footer p a{
    color:var(--secondary-color);
    font-weight: 500;
}
.widget-about .contact-details li{
    margin-bottom:0.8rem;
}
.widget-about .contact-details li:last-child{
    margin-bottom:0;
}
.widget-about .contact-details li i{
    padding-right:0.8rem;
    color:var(--text-color);
}
.widget-about .contact-details li a{
    color:var(--text-color);
}
.widget-about .social_icons li{
    list-style: none;
    display:inline-block;
    margin:2rem 0.3rem;
}
.widget-about .social_icons li a i{
    width:2.5rem;
    height:2.5rem;
    line-height: 2.4rem;
    text-align: center;
    color:var(--text-color);
    border:1px solid var(--secondary-color);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -ms-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
}

.widget-about .social_icons li a i:hover{
    background-color:var(--secondary-color);
    color:var(--text-color);
    transform:translateY(-0.5rem);
    -webkit-transform:translateY(-0.5rem);
    -moz-transform:translateY(-0.5rem);
    -ms-transform:translateY(-0.5rem);
    -o-transform:translateY(-0.5rem);
}
.site-button{
    color:var(--text-color);
    background-color:var(--secondary-color);
    padding:0.6rem 1rem;
    display:inline-block;
    font-size: 0.875rem;
    outline:none;
    cursor:pointer;
    border-width:0;
    border-style: solid;
    border-color:transparent;
    line-height:1.42857;
    text-decoration: none !important;
    border-radius: 0px .25rem .25rem 0;
    -webkit-border-radius: 0px .25rem .25rem 0;
    -moz-border-radius: 0px .25rem .25rem 0;
    -ms-border-radius: 0px .25rem .25rem 0;
    -o-border-radius: 0px .25rem .25rem 0;
}

/*== Scroll Top ==*/
.back-to-top{
    position:fixed;
    bottom:4.5rem;
    right:2rem;
    z-index:100;
    display:none;
}
.back-to-top a{
    width:2.5rem;
    height:2.5rem;
    line-height:2.5rem;
    display:block;
    background:var(--secondary-color);
    color:var(--text-color);
    text-align: center;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    transition:0.5s all ease-in-out;
    -webkit-transition:0.5s all ease-in-out;
    -moz-transition:0.5s all ease-in-out;
    -ms-transition:0.5s all ease-in-out;
    -o-transition:0.5s all ease-in-out;
}
          
          
      